
<%- include("partial/head") %> 

    <body>
        <h1>Halo, Dunia</h1>

        <%# Ini adalah komentar, dan yg dibawah ini buat nempelin di dalam file
        ejs %>
        <p>Hasil dari 12 + 15 = <%= 12 + 15 %></p>
    </body>
</html>
