h1{
    background-color: burlywood;
    border: 1px solid black;
    display: inline;
}

span{
    background-color: aquamarine;
    border: 1px solid black;
    display: block;
}

span.tandai{
    display: inline-block;
    width: 100px;
    padding: 5px;
    margin: 10px;
}