@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

h1{
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    margin: 25px;
}

.container{
    background-color: #3d405b;
    margin: auto;
    width: 80%;
    height: 500px;

    /* INI */
    display: flex;

    /* MAIN AXIS */
    flex-direction: row;
    justify-content: space-evenly;

    /* CROSS AXIS */
    flex-wrap: wrap;
    align-items: flex-start; /* SUSUNAN OBJEK PADA TIAP BARIS (PADA DIRECTION ROW) */
    align-content: space-between; /* SUSUNAN BARISNYA GIMANA */

}

.satu{
    background-color: #f2cc8f;

}

.dua{
    background-color: #81b29a;
    height: 200px;
}

.tiga{
    background-color: #e07a5f;
}

.empat{
    background-color: #f4f1de;
}

div{
    height: 100px;
    width: 100px;
}

#Aneh{
    align-self: center;
}