
body{
    background-color: #264653;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    display: block;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #e76f51;
    color: #e76f51;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 250ms ease-in-out;
}

button:hover{
    border: 2px solid #e9c46a;
    color: #e9c46a;
    transform: translateY(-10px);
    box-shadow: 0px 5px 5px -2px #e9c46a;
    cursor: pointer;
}

button:active{
    background-color: #f4a261;
    border: 2px solid #f4a261;
    color: black;
    transform: translateY(-10px);
}